body{
    font-family: Arial;
    font-size: 14px;
    margin: 0;
    color: #3d3d3d;
}
.container {
    width: 933px;
    margin: 0 auto;
}
.clear {
    float: none;
    clear: both;
}
.header {
    text-align: center;
    padding: 23px 0;
}
.menu{
    background: #e82828;
    padding: 5px 0;
}
.menu-left{
    float: left;
}
.search{
    float: right;
}
.menu-left a {
    display: inline-block;
    padding: 10px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}
.menu-left a:hover {
    color: #f0ff00;
    background: #000;
}

.search input {
    border: none;
    background: #FFFFFF;
    padding: 10px;
    font-family: Arial;
}
section {
    padding: 40px 0;
}
.banner {
    text-align: center;
    background: url("../images/bg_banner.png");
    background-size: cover;
    background-color: #242424;
    padding: 80px 20px;
    font-size: 16px;
    color: #FFFFFF;
}
.banner h1 {
    margin-top: 0;
    font-size: 34px;
    font-weight: 900;
}
.banner h1 span {
    display: inline-block;
    background-color: #f0ff00;
    color: #242424;
    padding: 5px 15px;
    margin-top: 10px;
}
.welcome-left {
    float: left;
    width: 40%;
    text-align: center;
}
.welcome-right{
    float: left;
    width: 60%;
    font-size: 16px;
    line-height: 22px;
}
.welcome-right h3 {
    color: #e82828;
    font-size: 28px;
    margin: 0;
    padding: 0;
}
.welcome-right h1 {
    font-size: 46px;
    font-weight: 900;
    margin: 30px 0;
    padding: 0;
}
.welcome-right .text{
    margin-bottom: 15px;
}
.button {
    background-color: #e82828;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 25px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 30px;
    display: inline-block;
    transition: 0.3s;
}
.button:hover {
    background-color: #242424;
    color: #f0ff00;
    transform: rotate(-5deg);
}
.bg-gray {
    background-color: #f5f5f5;
}
.title {
    text-align: center;
    font-size: 26px;
    font-weight: 900;
    margin: 0 0 20px;
}
.news-item {
    float: left;
    width: 33.33%;
    line-height: 22px;
}
.news-item .in-news {
    margin: 10px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.news-item .in-news img {
    width: 100%;
}
.news-item .in-news .news-text{
    padding: 20px;
}
.news-item .in-news .title-news{
    display: block;
    text-decoration: none;
    font-size: 18px;
    color: #e82828;
    font-weight: bold;
}
.footer {
    background:url("../images/bg_footer.png");
    background-size: cover;
    background-color: #3d3d3d;
    text-align: center;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 22px;
    padding: 30px 0;
}
.footer a {
    color: #f0ff00;
    font-weight: bold;
    text-decoration: none;
}

.img-about {
    margin: 0 20px 10px 0;
}
img {
    transition: 0.3s;
}
img:hover {
    transform: scale(1.2) rotate(10deg);
}

@media screen and (max-width: 950px) {
    .container {
        width: auto;
        padding: 0 20px;
    }
}

@media screen and (max-width: 790px) {
    .menu-left,
    .search,
    .welcome-left,
    .welcome-right {
        float: none;
        width: auto;
        padding: 0 20px;
        text-align: center;
    }
    .news-item {
        float: none;
        margin: 10px 0;
        width: auto;
    }
}